@import "tailwindcss";
.body{
    background-color: grey;
    color: aliceblue;

}
.container{
    max-width: 120rem;
    margin: 0 auto;
    background-color: rgb(111, 100, 116);
    background-image: black;
    padding: 1.6rem 2.4rem;
}

.grid{
    display: grid;
    gap: 9rem;
}
.grid-two-cols{
    grid-template-columns: repeat(2, 1fr);
}
.grid-three-cols{
    grid-template-columns: repeat(3, 1fr);
}